body
{
    background-color: #9df;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
    font-size: 18px
}

h2
{
    margin-top: 0;
    margin-bottom: -10px;
}

hr
{
    border: 2px dashed black;
}

p, ul
{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item
{
    text-align: center;
}

.headshot-image
{
    width: 100px;
}